.card{
    background-color: #00949e;
    height:20rem;
    width:15rem;
    border-radius: 10px;
    text-decoration: none;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 2rem;
    margin-block-end: 40%;
    color:black;
}

.card:hover{
    background-color: #023047;
    color: #00949e;
}

.title{
    text-decoration: none;
}

.image{
    width: 100%;
    height:50%;
    border-radius:10px;
}