.input{
    height:2rem;
    border-radius: 10px;
}

.searchButton{
    height:2.5rem;
    border-radius: 100px;

    color:white;
    background-color: #00949e;
    font-size:1rem;
    font-weight:900;
}

.searchButton:hover{
    color:#023047;
    border-color:#023047;
    background-color: #00949e;
}